body {  
    display: flex;  
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background: rgb(233, 233, 242);
}


a {
  color: rgb(37, 25, 25);
}


a:visited {
  color: rgb(229, 145, 3);
}


a:hover {
  color: #e5b003;
}


a:active {
  color: #e5b003;
}



p {
    font: rgb(35, 35, 39)
}

.directions {
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font:rgb(37, 25, 25);
    background: rgb(233, 233, 242);
}

.loading {  
    max-width: 50%;  
    line-height: 1.4;  
    font-size: 1.2rem;  
    font-weight: bold;  
    text-align: center;
}

.loading__author {  
    font-weight: normal;  
    font-size: 0.9rem;  
    color: rgb(53, 52, 52);  
    margin: 0.6rem 0 2rem 0;  
    display: block;
}

.loading__anim {  
    width: 35px;  
    height: 35px;  
    display: inline-block;  
    border: 5px solid rgba(189,189,189 ,0.25);  
    border-left-color: #e5b003;  
    border-top-color: rgb(229, 150, 3); 
    border-bottom-color: rgb(229, 145, 3);  
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}

@keyframes rotate { 
    to {
        transform: rotate(1turn) 
    }
}

footer {
    display: block;  
    justify-content: center;  
    align-items: center; 
    padding: 20px;
}